@media only screen and (min-width : 320px) {
    /* Styles */
    .info{
        color: #153486;
        margin-left: 5%;
    }
    .info a:hover{
        text-decoration: none;
        color: white;
    }
    #underlined{
        position: relative;
    }
    #underlined:before{
        content: "";
        display: block;
        position: absolute;
        bottom: -15px;
        height: 3px;
        left: 0;
        right: 0;
        background: white;
    }
/*    .font_size_16{font-size: 10px;}
    .info_second{margin-left: 10%;margin-top: 10%;}
    .info_second a{text-decoration: none;}
    .info_second>a>div{margin-top: 10%;}
    .add_info_second{ margin-top: 19%;}
    .add_info_second>a>div{color: white}*/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


    .info{
        color: #153486;
        margin-left: 5%;
    }
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 720px) {

    .sub_nav{
        position: absolute;
        left:10%;
        top:18%;
    }

    .sub_nav a{
        color: white;
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content_about{
        background: #EEF5FF;
        width:95%;
        min-height: 275px;
        margin: 2.5% auto;
        float: left;
    }

    .content_about h2, .content_about p{
        margin:5%;
    }

    .image_first img{
        width:90%;
    }

    .info {
        color: #153486;
        margin-left: 8%;
    }

    .menu_header{
        margin-left: 5%;
    }



}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { ... }


@media only screen and (min-width: 1850px) {
    .info {
        color: #153486;
        margin-left: 8%;
        margin-top: 0%;
    }
}
