#all{
    background-image:url('/image/navdrawer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    font: white;
    color: white;
}


.mar_top_5{
    margin-top: 5%;
}

.mar_top_2_5{
    margin-top: 2.5%;
}

.width_100{
    width: 100%;
}

.width_50{
    width: 50%;
}

.float_right{
    float: right;
}

.text1{
    font: 18px;
}